*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.decks{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 30px;
}

.decks-label{
  color: rgb(3, 124, 81);
  font-size: 36px;
  padding-bottom: 30px;
}

.element-preview{
  display: flex;
  width: 735px;
  height: 70px;
  background-color: rgb(185, 226, 212);
  border-radius: 30px;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.element-remove__icon{
  width: 25px;
  height: 25px;
  margin-right: 25px;
}

.element-preview__element-status{
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin-left: 25px;
  background-color: blue;
}

.element-preview__element-number{
  margin-left: 25px;
  font-size: 24px;
  line-height: 25px;
}

.element-preview__element-name{
  font-size: 24px;
  line-height: 25px;
}

.add-deck{
  margin-top: 25px;
}

.add-deck__add-button{
  background-color: rgb(60, 156, 122);
  width: 735px;
  height: 70px;
  font-size: 24px;
  border-radius: 20px;
  border: none;
  margin-top: 25px;
}

.start-learning-button{
  background-color: rgb(127, 199, 174);
  width: 735px;
  height: 70px;
  font-size: 24px;
  border-radius: 20px;
  border: none;
  margin-top: 25px;
}


.popup{
  position: absolute;
  top: 100px;
  width: 735px;
  z-index: 1;
  background-color: rgb(93, 177, 148);
  padding-top: 15px;
}

.popup_learn-process{
  /* width: 950px; */
}

.popup_visible{
}

.popup_hidden{
  display: none;
}

.popup__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.input-form{
  margin-left: 10px;
  margin-top: 20px;
  height: 40px;
  width: 400px;
  border: none;
  border-radius: 25px;
  padding-left: 15px;
  color: black;
  /* opacity: 80%; */
}

.popup__popup-buttons{
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-left: 167.5px;
}

.popup-buttons__button{
  margin-top: 25px;
  height: 40px;
  width: 180px;
  border-radius: 15px;
  border: none;
  margin-bottom: 30px;
}

.element-preview__deck-remove{
  display: block;
}

.cover__popup{
  width: 100%;
  height: 100%;
  background-color: ghostwhite;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 70%;
  z-index: 0;
  display: flex;
  justify-content: center;
}

.cover__popup_hidden{
  display: none;
}

.cover__popup_visible{
}

.one-deck{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.popup__one-deck{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.popup-buttons{
  
}

.learn-card-preview__card-preview{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.accepted-button_hidden{
  display: none;
}
